<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SuperAndon</title>
</head>
<body>
<script type="text/javascript" src="__PUBLIC__/third/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/base.js"></script>

<!--Ext资源引用-->
<link href="__PUBLIC__/third/js/ExtJS4.2/resources/css/ext-all-neptune.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/third/js/ExtJS4.2/ext-all-debug.js"></script>
<script type="text/javascript" src="__PUBLIC__/app/mainapp.js"></script>
</body>
</html>